<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data

<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.picture}}" style="width: 64px; height: 64px">
    <p>
      {{chat.lastText}}
    </p>
  </ion-content>
</ion-view>
-->

<!--
    "id": 1549975,
    "Name": "Christoph Streit",
    "gender": "m",
    "photo_url": "https://www.xing.com/image/c_4_5_6fd30299b_385620_8/christoph-streit-foto.192x192.jpg",
    "begin_date": "NULL",
    "Titel": "Technology Evangelist & Co-Founder",
    "Unternehmen": "ScaleUp Technologies GmbH & Co. KG",
    "industry": "INFORMATION_TECHNOLOGY_AND_SERVICES",
    "number_of_contacts": 610,
    "common_contacts": 118,
    "degrees_of_sep": 3,
    "lat": 48.143765,
    "lon": 11.5327821,
    "dScore": 4.4-->  

<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{profile.name}}">
  <ion-content class="padding">
  <div class="list">  
    <div class="row">
      <div class="col ">
      <a href="#/tab/profiles" class="button icon-left ion-chevron-left button-clear button-dark " style="width: 100%;">
        {{profile.Name}}
      </a>
      <img ng-src="{{profile.photo_url}}" style="width: 100%;">
      </div>
    </div>

    <!--
  <div class="row">
    <div class="col ">
      <a class="item item-icon-left" href="#/tab/dash/{{profile.id}}">
      <i class="icon ion-map"></i> Route me!
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col col-50">
      <a class="item item-icon-left" ng-href="mailto:getdatafrom@immoscout.de">
      <i class="icon ion-email"></i> Mail
      </a>
    </div>
    <div class="col col-50">
      <a class="item item-icon-left" ng-href="tel:{{profile.name}">
      <i class="icon ion-ios-telephone-outline"></i> Call
      </a> 
    </div>
  </div>-->


  <div class="list card" style="width: 100%;">  
    <div class="item item-divider">{{profile.Name}}</div>
      <div class="item item-body">
      Dscore: {{profile.dScore}} <progress max="10" value="{{profile.dScore}}"></progress>     
      </div>
    </div>


  <div class="list card"> 
    <div class="item item-divider"><b>Company</div>
      <div class="item item-body">
        <div><b>Title:  </b> {{profile.Titel}}</div>
        <div><b>Company:  </b> {{profile.Unternehmen}}</div>
        <div><b>Industry:  </b> {{profile.industry}}</div>
      </div>
    </div> 
  

  <div class="list card" style="width: 100%;">  
    <div class="item item-divider">Network</div>
      <div class="item item-body">
      Contacts: {{profile.number_of_contacts}} <progress max="1000" value="{{profile.number_of_contacts}}"></progress>
      Common_contacts: {{profile.common_contacts}} <progress max="100" value="{{profile.common_contacts}}"></progress>
      Degrees of Separation: {{profile.degrees_of_sep}} <progress max="3" value="{{profile.degrees_of_sep}}"></progress>     
      </div>
    </div>
  </div>

 <!-- 
  
  <div class="list card">
      <div class="item item-divider">Information</div>
      <div class="item item-body">
        <div>
           {{profile.Name}}
        </div>
      </div>
    </div>
  
  
  <div class="list card">
      <div class="item item-divider">Used Products</div>
      <div class="item item-body">
    
  
  <ion-checkbox  ng-model="filter.blue1"> 
  <a class="item item-thumbnail-left" href="#">
      <img src="img/saegen.png">
      <h2>Cutting</h2>
    </a>
  </ion-checkbox>
  
  <ion-checkbox  ng-model="filter.blue2"> <a class="item item-thumbnail-left" href="#">
      <img src="img/drilling.png">
      <h2>Drilling</h2>
    </a></ion-checkbox>
  
  <ion-checkbox  ng-model="filter.blue3"> <a class="item item-thumbnail-left" href="#">
      <img src="img/installation.png">
      <h2>Installation</h2>
    </a></ion-checkbox>
  
  <ion-checkbox  ng-model="filter.blue4"> <a class="item item-thumbnail-left" href="#">
      <img src="img/bauschaum.png">
      <h2>Chemicals</h2>
    </a></ion-checkbox>
  
  
  <ion-checkbox  ng-model="filter.blue5"> <a class="item item-thumbnail-left" href="#">
      <img src="img/diamantbohrer.png">
      <h2>Diamond</h2>
    </a></ion-checkbox>  
  
  
  <ion-checkbox  ng-model="filter.blue6"> <a class="item item-thumbnail-left" href="#">
      <img src="img/messtechnik.png">
      <h2>Measuring</h2>
    </a></ion-checkbox>
  
  <ion-checkbox  ng-model="filter.blue7"> <a class="item item-thumbnail-left" href="#">
      <img src="img/akkusysteme.png">
      <h2>Cordless</h2>
    </a></ion-checkbox>
  
  <ion-checkbox  ng-model="filter.blue8"> <a class="item item-thumbnail-left" href="#">
      <img src="img/direktbefestigung.png">
      <h2>Direct Fastening</h2>
    </a></ion-checkbox>
  
  <ion-checkbox  ng-model="filter.blue9"> <a class="item item-thumbnail-left" href="#">
      <img src="img/insert.jpg">
      <h2>Tools</h2>
    </a></ion-checkbox>
  
  <ion-checkbox  ng-model="filter.blue10"> <a class="item item-thumbnail-left" href="#">
      <img src="img/schraubsysteme.png">
      <h2>Screw</h2>
    </a></ion-checkbox>-->

    

    </div>

  </ion-content>
</ion-view>