<style>

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

svg {
  margin: 30px;
  width: 300px;
  align: center;
}

h4{
  margin: 20px 0px;
  color: #CC0033 !important;
}

.mybutton{
  margin-top: 5% !important;
  background-color: #CC0033 !important;
}

.myslide{
  margin: 60px !important;
}

.mylogo{
  margin: 30px;
  width: 300px;
  align: center;
}

.mylogo2{
  margin: 30px;
  width: 150px;
  align: center;
}



#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}

      
</style>

      <ion-view view-title="Intro">
        <ion-nav-buttons side="left">
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="!slideIndex">
            Skip Intro
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="previous()" ng-show="slideIndex > 0">
            Previous Slide
          </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right"> 
          <button class="button button-positive button-clear no-animation"
                  ng-click="next()" ng-show="slideIndex != 2">
            Next
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="slideIndex == 2">
            Start using MyApp
          </button>
        </ion-nav-buttons>
        <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide>
            
            <div  id="logo">
            
            
            <img src="https://s10.postimg.org/hlgfn7f3d/audi.png" class="mylogo"></img>
              
            </div>
            <h3>Welcome to Trusty!</h3>
            <p>
              Vorsprung durch Technik.
            </p>
            <h4>
              Share your car with people you trust.
            </h4>
          </ion-slide>
          
          <ion-slide>
          <h3>3 Simple Steps</h3>
          <h4>Train your own algorithm <br> to select people you trust!</h4>
            <img src="http://fs5.directupload.net/images/161014/tz5t3ajm.jpg" class="myslide"></img>
          </ion-slide>
          
          
          <ion-slide>
          <h3 style="margin-top: 50px !important">1. Login </h3>
          <h4> Chose your preferred <br> social media account</h4>
            <img src="http://image.flaticon.com/icons/svg/210/210260.svg" class="myslide"></img>
          </ion-slide>
          
          <ion-slide>
          <h3 style="margin-top: 50px !important">2. Rate some of your Contacts</h3>
          <h4>You are able to train your algorithm.<br>Tell us whom you trust.</h4>
            <img src="http://image.flaticon.com/icons/svg/247/247317.svg" class="myslide"></img>
          </ion-slide>



          
          <ion-slide>
          <h3 style="margin-top: 50px !important">Share your Audi </h3>
          <h4>We select people you trust</h4>
          

		<a class="button button-assertive mybutton" ui-sref="xing">Start now!</a>


            <img src="http://image.flaticon.com/icons/svg/112/112957.svg" class="myslide"></img>
            
          </ion-slide>

          
          
          
        </ion-slide-box>
      </ion-view>

