<ion-view view-title="Profiles">
  <ion-content>
    <ion-list>  
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="profile in profiles" type="item-text-wrap" href="#/tab/profiles/{{profile.id}}">
        <img ng-src="{{profile.photo_url}}">
        <h2>{{profile.Name}}</h2>
        <p>Titel: {{profile.Titel}} %</p>
        <p>Company: {{profile.Unternehmen}}</p>
        <p>Contacts (common): {{profile.number_of_contacts}} ({{profile.common_contacts}})</p>
        
        <i class="icon ion-chevron-right icon-accessory"></i>   
        <ion-option-button class="button-assertive" ng-click="remove(profile)">
        Delete
        </ion-option-button>
      </ion-item>
    </ion-list>   


<!--
    <button ui-sref="tab.results" class="button  button-full button-outline button-big button-stable">
            !!!Evaluate my Network 
          </button>
    -->

<style type="text/css">
    #myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;
}
#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: rgb(204, 0, 51);
}
</style>

<div id="myProgress">
  <div id="myBar"></div>
</div>

<button id="myButton" ng-hide=registered ng-click="SayHello()" class="button button-full button-outline button-big button-stable">Evaluate my Network </button>

<button id="myButton2" ng-hide=registered2 ui-sref="tab.results"class="button button-full button-outline button-big button-stable">Show Results </button>
   

</ion-content>
</ion-view>


<!--
    "id": 1549975,
    "Name": "Christoph Streit",
    "gender": "m",
    "photo_url": "https://www.xing.com/image/c_4_5_6fd30299b_385620_8/christoph-streit-foto.192x192.jpg",
    "begin_date": "NULL",
    "Titel": "Technology Evangelist & Co-Founder",
    "Unternehmen": "ScaleUp Technologies GmbH & Co. KG",
    "industry": "INFORMATION_TECHNOLOGY_AND_SERVICES",
    "number_of_contacts": 610,
    "common_contacts": 118,
    "degrees_of_sep": 3,
    "lat": 48.143765,
    "lon": 11.5327821,
    "dScore": 4.4-->