<ion-view view-title="Dashboard">
  <ion-content class="padding">

<style type="text/css">
  
.mylogo{
  margin-left: 20%;
  margin-right: 35%;
  width: 150px;
  align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

</style>

<ion-nav-buttons side="right"> 
          <button class="button button-positive button-clear no-animation"
                  ng-click="next()" >
            Next
          </button>
        </ion-nav-buttons>

<div style="padding:30px;"><h3>Dashboard</h3>
<p>This is your Dashboard. It provides an overview of your network and your personalized trust scores.</p>
<h4>Total network</h4>
<p>Your network consists of 29293 people, 29.2% of which are female.<br>
But gender makes no difference for trust and driving ability, which is about 5/10 for both genders.</p>
<h4>Professions</h4>
<p>Things change when you look at professions. You trust 40% of your friends in Music, but only 25% of those in Restaurants/Food Service.</p>

<img class="mylogo" src="http://image.flaticon.com/icons/svg/236/236905.svg">
      <div style="padding-left: 20%; padding-right: 20%">
      Trust Bonus for Managers: <progress max="10" value="4"></progress>     
      </div>
<br>
<p> On the other hand, your connections are strongest in Restaurants/Food Service. On average, you share 102 contacts.</p>
<img class="mylogo" src="http://image.flaticon.com/icons/svg/236/236919.svg">
      <div style="padding-left: 20%; padding-right: 20%">
      Trust Bonus for Restaurants/Food Service: <progress max="10" value="5"></progress>     
      </div>

<p>Your contacts in Civil Service are the best drivers with an average score of 5.46, only score at 4.96.</p>
<img class="mylogo" src="http://image.flaticon.com/icons/svg/236/236916.svg"></div>
      <div style="padding-left: 20%; padding-right: 20%">
      Trust Bonus for Civil Service: <progress max="10" value="8"></progress>     
      </div>
      <p>
      </p>
      <p>
      <h1>`</h1>
      </p>
  </ion-content>
</ion-view>
