<ion-view>
<ion-content>
<div>
<h4 style="padding-top: 50px; padding-left: 20px">  Drives </h4>


    <ion-list>  
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/profiles/{{chat.id}}">
        <img ng-src="{{chat.image}}">
        <h2>{{chat.name}}</h2>
        <p>Distance: {{chat.distance}} %</p>
        <p>Time: {{chat.time}}</p>
        
        <i class="icon ion-chevron-right icon-accessory"></i>   
        <ion-option-button class="button-assertive" ng-click="remove(profile)">
        Delete
        </ion-option-button>
      </ion-item>
    </ion-list>  

    </div> 

</ion-content>
</ion-view>