<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Profiles Tab -->
  <ion-tab title="Profiles" icon-off="ion-ios-contact-outline" icon-on="ion-ios-contact" href="#/tab/profiles">
    <ion-nav-view name="tab-profiles"></ion-nav-view>
  </ion-tab>

  <!-- Results Tab -->
  <ion-tab title="Results" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/results">
    <ion-nav-view name="tab-results"></ion-nav-view>
  </ion-tab>

  <!-- Map Tab -->
  <ion-tab title="Drive" icon-off="ion-android-car" icon-on="ion-android-car" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>


</ion-tabs>
