<style>

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

svg {
  margin: 30px;
  width: 300px;
  align: center;
}

h4{
  margin: 20px 0px;
  color: #CC0033 !important;
}

.mybutton{
  margin-top: 5% !important;
  background-color: #CC0033 !important;
}

.myslide{
  margin: 60px !important;
}

.mylogo{
  margin: 30px;
  width: 300px;
  align: center;
}

.mylogo2{
  margin: 30px;
  width: 150px;
  align: center;
}



#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}

      
</style>

      <ion-view view-title="Intro">
        <ion-nav-buttons side="left">
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="!slideIndex">
            Skip Intro
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="previous()" ng-show="slideIndex > 0">
            Previous Slide
          </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right"> 
          <button class="button button-positive button-clear no-animation"
                  ng-click="next()" ng-show="slideIndex != 2">
            Next
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="slideIndex == 2">
            Start using MyApp
          </button>
        </ion-nav-buttons>
        <ion-slide-box on-slide-changed="slideChanged(index)">

          


<ion-slide>
          <h3 style="margin-top: 50px !important">Connect to your Network</h3>
          <h4>Log in via XING</h4>
          
          <img src="https://corporate.xing.com/build/images/navigation/logo.svg" class="mylogo2"></img>
          <div style="margin-left:50px !important;margin-right:50px !important;" class="list">
            <label class="item item-input item-floating-label">
              <span class="input-label">Mail</span>
              <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">Email</span>
              <input type="text" placeholder="Email">
            </label>
      <button ui-sref="tab.profiles" class="button  button-full button-outline button-big button-stable">
            Login
          </button>    
      </div>

          
          
        </ion-slide-box>
      </ion-view>

